<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
    <!--导入配置文件-->
    <import resource="classpath:config/spring-base.xml" />
    <import resource="classpath:config/spring-mongo-db.xml" />
</beans>
